.nav{
    background-color: darkcyan;
    background-size: cover;
    position: fixed;
    top: 1px;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.a1{
    text-decoration: none;
}
li{
    color:white;
    display: inline;
    position: relative;
    top: 20px;
    left: 500px;   
    padding-left: 40px;
}
.button1{
    background-color: darkslategray;
    color: white;
}
.button1:active{
    background-color:rgb(177, 102, 10);
}
.navimg{
    width: 100px;
    height: 60px;
    position: relative;
    left:200px;
    bottom: 48px;
}
.bgimg{
    background-image: url("../../static/images/Top.jpg");
    background-size: cover;  
    width: 100%;
    height: 650px;
    position: absolute;
    top: 20px;
}
.d1{
    width: 200px;
    height: 500px;
}
.text1{
    position: absolute;
    top: 300px;
    left: 550px;
    font-size: 50px;
    color:rgb(3, 3, 97);
}
.txt2{
    position: absolute;
    top: 380px;
    left: 520px;
    font-size: 20px;
    color:rgb(3, 3, 97);
}
.subdiv{
    background-color: beige;
    width:80%;
    height: 850px;
    position: absolute;
    top:550px;
    left: 160px;
}
.contactinfo{
    width:500px;
    height: 400px;
    position: absolute;
    top:30px;
    left:100px;
}
.hd1{
    position: absolute;
    left:350px;
    top:0px;    
}
.title{
    width: 250px;
    height: 200px;
    position: absolute;
    bottom: 100px;
    left: 155px;
}
.ans{
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: 110px;
    left: 550px;
}
.hd2{
    position: absolute;
    left:500px;   
    bottom:430px; 
}
form{
    position:absolute;
    bottom:70px;
    left:250px;
}
.i1{
    width: 600px;
    height: 50px;
    border-radius: 30px;
    padding: 3px;
    margin-bottom: 10px;
}
.s1{
    width: 250px;
    height: 50px;
    margin-left: 180px;
    background-color: rgb(232, 138, 23);
    border-radius: 50px;
}
.s1:hover{
    background-color: darkgray;
    
}

.foot{
    width: 100%;
    height: 50px;
    position: absolute; 
    /* bottom:0px; */
    top: 1340px;
    background-color: white;
}
.headfoot{
    position: relative;
    left: 200px;
}