
.nav{
    background-color: darkcyan;
    background-size: cover;
    position: fixed;
    top: 1px;
    width: 100%;
    height: 70px;
    z-index: 1;

}
.a1{
    text-decoration: none;
}
li{
    color:white;
    display: inline;
    position: relative;
    top: 20px;
    left: 500px;   
    padding-left: 40px;
}
.button1{
    background-color: darkslategray;
    color: white;
}
.button1:active{
    background-color: red;
}
.navimg{
    width: 100px;
    height: 60px;
    position: relative;
    left:200px;
    bottom: 48px;
}
.bgimg{
    background-image: url("../../static/images/lake.jpg");
    background-size: cover;   
    width: 100%;
    height: 350px;
    position: absolute;
    top: 20px;

}
.d1{
    width: 1000px;
    height: 80px;
}
.text1{
    font-size: 40px;
    color:rgb(240, 251, 255);
    position: relative;
    left: 80px;
    top:180px;
}
.maindiv{
    width: 100%;
    height: 2250px;
    position: absolute;
    top:370px;
    background-color: rgb(245, 213, 239);
}
.grid1div{
    position: absolute;
    left: 117px;
    top:60px;

}
.hgrid1{
    background-color: silver;
    width: 884px;
    height: 30px;
    position: absolute;
    top: -78px;
    left:36px;
    letter-spacing: 1px;
    font-size: larger;
}
.c{
    display: grid;
    grid-template-columns: 350px 350px 350px ;
    grid-template-rows: 450px 450px 450px 450px 450px;
}
.c div{
    padding: 10px;
}
.d{
    width: 250px;
    height: 380px;
    padding: 2px;
   
}
.img1{
    width: 500px;
    height: 500px;
    transition: 2s ease;
}
.img1 :hover{
    transform: rotateY('20');
}
.grdimg{
    width:200px;
    height: 200px;
    position: relative;
    left: 20px;
    top:20px;
}
.text2{
    font-size: medium;
    position: relative;
    left: 10px;
    top:15px;
}
.text3{
    
    position: relative;
    left: 10px;
    top:5px;
    letter-spacing: 1px;
}
.grid2div{
    position: absolute;
    left: 1100px;
    top:3px;
    width: 300px;

}
.hgrid2{
    background-color: silver;
    width: 384px;
    height: 30px;
    position: absolute;
    top: -19px;
    left:36px;
    letter-spacing: 1px;
    font-size: larger;
}
.text4{
    font-size: medium;
    position: relative;
    left: 10px;
    top:15px;
}
.text5{  
    position: relative;
    left: 10px;
    top:5px;
    letter-spacing: 1px;
}
.img2{
    width:200px;
    height: 200px;
    position: relative;
    left: 20px;
    top:20px;
}
.d3{
    position: relative;
    top:17px;
    left: 46px;
}
.foot{
    width: 100%;
    height: 50px;
    position: absolute; 
    bottom:0px;
    top: 2627px;
    background-color: white;
}

.headfoot{
    position: relative;
    left: 200px;
}
  

