{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
    <link rel="stylesheet" href="{% static 'styles/contact.css' %}">
</head>
<body>
    <div class="nav">
        <div>
            <ul>
                <li><a class="a1" href="http://127.0.0.1:8000/user/home"> Home</a></li>
                <li><a class="a1" href="packages.html"> Packages</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/thingstodo"> Things to do</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/contact"> Contact</a></li>
                <li><a class="a1" href="http://127.0.0.1:8000/user/membership">Membership</a> </li>
                <li><button class="button1">Book Now</button></li>
            </ul>
        </div>
        <div>
            <img class="navimg" src="{% static 'images/ss.png' %}">
        </div>
    </div>
    <div class="bgimg">
        <div class="d1">
            <h1 class="text1">CONTACT US</h1>
            <h2 class="txt2">For any queries, please do contact our team</h2>
        </div>
     </div>
     <div class="subdiv" >
        <div class="contactinfo">
            <h2 class="hd1">Contact Information</h2>
            <div class="title">
             <h3>ADDRESS:</h3>
             <h3>EMAIL:</h3>
             <h3>TELEPHONE:</h3>
             <h3>WORKING HOURS:</h3>
          </div>
          <div class="ans">
             <h4>Nallathanni Road, Near Mosque, Munnar</h4>
             <h4> booking@munnarista.com</h4>
             <h4>+91 9024610145</h4>
             <h4>Mon – Fri 9:00 am – 5:30 pm, Sat 9:00 am – 1:00 pm / 24/7 Phone calls</h4>
        </div>
        </div>
        <div class="gtintch">
            <h2 class="hd2">Get In Touch</h2>
            <form>
                <input class="i1" type="text" placeholder="Your Name"><br>
                <input class="i1" type="text" placeholder="Email"><br>
                <input class="i1" type="text" placeholder="Subject"><br>
                <input class="i1" type="text" placeholder="Message"><br>
                <button class="s1">SEND MESSAGE</button>
             </form>
        </div>
     </div>
   
     <div class="foot"><h6 class="headfood" >
        Copyright @2022 MUNNARISTA All rights reserved</h6></div>
        </body></html>
                